<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class='grid-about'>
            <div class="item-right ">
                <pre>
                RESEARCH
                 DONE BY
                </pre>
            </div>
            <div class="item-left">
                <pre style="font-size:120%">
    Dr.Kiranmai,
    Harshith,Vivek,
    Lasya,Soumya,Kavya.
                </pre>
            </div>
        </div>
    </body>
<html>